certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
decorator==5.2.1
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.4.2
pillow==11.3.0
proglog==0.1.12
pycparser==3.0
python-dotenv==1.2.1
requests==2.32.5
SpeechRecognition[vosk]==3.14.3
srt==3.5.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
